html{background-color:white;
box-sizing:border-box;} /*http://www.paulirish.com/2012/box-sizing-border-box-ftw/*/
*,*:before,*:after{
	box-sizing:inherit;
}

body{
/*font optimal,font 2ème choix,font générique*/
color : black;
max-width:1000px;
background-color: #fff;
margin:0 auto;/*marge extérieure pour centrer (possibilité valeur négative)*/
padding: 20px;/*marge intérieure*/
margin-top: 30px;
}

.main-nav ul{
padding:0px;
margin:0px;
list-style-type: none;
border-bottom: 3px solid black;
position : fixed;
top:0;
background-color: #E8E8E8 ;
}

.main-nav li{
display: inline-block;/*éléments en ligne*/
padding:10px;
text-transform: uppercase;
}

.main-nav a{
text-decoration: none;
color:black;
}

.main-nav li:hover{
	background-color: silver;
}
.main-nav li:hover:before{
	color : silver;
}
.nom-li{
	background-color: black;
	color: white;
}

.contact-li{
	background-color: #00CCFF;
	color: black;
}
.fieldset-main legend{
margin:auto;
}
.fieldset-main{
	margin: auto;
	margin-top: 50px;
	width :400px;
}

.fieldset-main h1{
	text-align:center;
}

.adresse li{
	list-style-type: none;
}

.gauche , .envoie{
	float:left;
	margin-top: 30px;
}

.envoie{
	width:500px;
}
.gauche{
	max-width: 400px;
	padding-right: 20px
}
.gauche h2 {
	text-transform: uppercase;
}
.main{
	font-family: "Times New Roman", Georgia, Serif;
	line-height: 200%;
}
.adresse .ad-li:before{
	content:"\1F3E0 " ;
}
.adresse .mail-li:before{
	content:"\1F4E7 " ;
}
.adresse .tel-li:before{
	content:"\260E " ;
}
.input, .message {
	border: 0;
	background: transparent;
}

.message{
	width :450px;
	height: 150px;
}

.input{
	width :450px;
	height: 30px;
}
